stacja nodered.json
[
    {
        "id": "21294e9fb0a38dbb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c718c3a3ee89107",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/DHT11/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "67b026599d37285b",
                "a95ae95bcbd59520"
            ]
        ]
    },
    {
        "id": "95ac048e2edd9a52",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/DHT11/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "0314d85793e701c5",
                "9389f769379004b6"
            ]
        ]
    },
    {
        "id": "372ea9514624e0b6",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/MQ2/co/ppm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "e5259266ffab8e48",
                "21a767abf9b40f57"
            ]
        ]
    },
    {
        "id": "805bc2547c6ca04f",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/MQ2/co/level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 760,
        "wires": [
            [
                "da07277fa5f8b131"
            ]
        ]
    },
    {
        "id": "53e884ffccad65eb",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/MQ2/smoke/ppm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "04ca1e4526f08667",
                "37439ab9482b434d"
            ]
        ]
    },
    {
        "id": "5aec7fb27bf5b1b9",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/MQ2/smoke/level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 820,
        "wires": [
            [
                "77b8a010e906b1d2"
            ]
        ]
    },
    {
        "id": "c9e16091cb88b72a",
        "type": "mqtt out",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/fan/out",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b6f2a1fc3b64822",
        "x": 1510,
        "y": 440,
        "wires": []
    },
    {
        "id": "4765e220e1bcd90e",
        "type": "mqtt out",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/alarm/out",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b6f2a1fc3b64822",
        "x": 1520,
        "y": 560,
        "wires": []
    },
    {
        "id": "67b026599d37285b",
        "type": "ui_gauge",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "group": "95f04cddc817cb90",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "0314d85793e701c5",
        "type": "ui_gauge",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "group": "95f04cddc817cb90",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "a95ae95bcbd59520",
        "type": "ui_chart",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "group": "95f04cddc817cb90",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9389f769379004b6",
        "type": "ui_chart",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "group": "95f04cddc817cb90",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e5259266ffab8e48",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "037b8bb9d34f652c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Co ppm:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "21a767abf9b40f57",
        "type": "ui_chart",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "group": "037b8bb9d34f652c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "CO ppm over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "da07277fa5f8b131",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "037b8bb9d34f652c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO level:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "77b8a010e906b1d2",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "037b8bb9d34f652c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Smoke level:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "04ca1e4526f08667",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "037b8bb9d34f652c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Smoke ppm:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "37439ab9482b434d",
        "type": "ui_chart",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "group": "037b8bb9d34f652c",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Smoke ppm over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "63c08621b26f729e",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/fan/in",
        "qos": "0",
        "datatype": "utf8",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "2425d030d921c1d2"
            ]
        ]
    },
    {
        "id": "2425d030d921c1d2",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "681e99cb1914be38",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fan status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 220,
        "wires": []
    },
    {
        "id": "5921b214ec5ba9e9",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/alarm/in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 340,
        "wires": [
            [
                "046c33716c84fc57"
            ]
        ]
    },
    {
        "id": "046c33716c84fc57",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "681e99cb1914be38",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 340,
        "wires": []
    },
    {
        "id": "3ebf8efc6fca7f2a",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/fan/mode",
        "qos": "0",
        "datatype": "utf8",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 160,
        "wires": [
            [
                "0d4750545523eebe"
            ]
        ]
    },
    {
        "id": "0d4750545523eebe",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "681e99cb1914be38",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fan mode:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 160,
        "wires": []
    },
    {
        "id": "5c7fde4e0156e0ee",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/alarm/mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 280,
        "wires": [
            [
                "e28b4caa54ee823e"
            ]
        ]
    },
    {
        "id": "e28b4caa54ee823e",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "681e99cb1914be38",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm mode:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "8894dfa6af0809c3",
        "type": "ui_dropdown",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "Fan mode",
        "tooltip": "",
        "place": "Select control mode",
        "group": "681e99cb1914be38",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Manual",
                "value": "manual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1260,
        "y": 400,
        "wires": [
            [
                "c9e16091cb88b72a"
            ]
        ]
    },
    {
        "id": "669bdbf65aab057a",
        "type": "ui_switch",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "Fan control",
        "tooltip": "",
        "group": "681e99cb1914be38",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1250,
        "y": 460,
        "wires": [
            [
                "c9e16091cb88b72a"
            ]
        ]
    },
    {
        "id": "69518250a16a9962",
        "type": "ui_dropdown",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "Alarm mode",
        "tooltip": "",
        "place": "Select option",
        "group": "681e99cb1914be38",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Auto",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "Manual",
                "value": "manual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1250,
        "y": 520,
        "wires": [
            [
                "4765e220e1bcd90e"
            ]
        ]
    },
    {
        "id": "f018359946c8d125",
        "type": "ui_switch",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "Alarm control",
        "tooltip": "",
        "group": "681e99cb1914be38",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1250,
        "y": 600,
        "wires": [
            [
                "4765e220e1bcd90e"
            ]
        ]
    },
    {
        "id": "021b9f0db824c220",
        "type": "ui_slider",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "temp",
        "tooltip": "",
        "group": "26f319519ee3c2a8",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 1230,
        "y": 700,
        "wires": [
            [
                "ae4233b5969e5fd4"
            ]
        ]
    },
    {
        "id": "2a584570d225df44",
        "type": "ui_slider",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "hum",
        "tooltip": "",
        "group": "26f319519ee3c2a8",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "90",
        "step": 1,
        "className": "",
        "x": 1230,
        "y": 780,
        "wires": [
            [
                "5cb41db57f06dcb5"
            ]
        ]
    },
    {
        "id": "1ef4a591556abe0e",
        "type": "ui_slider",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "smoke",
        "tooltip": "",
        "group": "26f319519ee3c2a8",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "600",
        "step": 1,
        "className": "",
        "x": 1230,
        "y": 860,
        "wires": [
            [
                "b1c36bdc21121e90"
            ]
        ]
    },
    {
        "id": "c54f0d23d0ba3253",
        "type": "ui_slider",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "label": "co",
        "tooltip": "",
        "group": "26f319519ee3c2a8",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "150",
        "step": 1,
        "className": "",
        "x": 1230,
        "y": 960,
        "wires": [
            [
                "d872a7a942fbc9e2"
            ]
        ]
    },
    {
        "id": "f8ee7f90bddcb4bc",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "26f319519ee3c2a8",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature fan start threshold :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 660,
        "wires": []
    },
    {
        "id": "1785d4e53de4ac36",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "26f319519ee3c2a8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity fan start threshold:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 740,
        "wires": []
    },
    {
        "id": "e7ecfd003318bbe8",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "26f319519ee3c2a8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Smoke ppm alarm start threshold:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 820,
        "wires": []
    },
    {
        "id": "934b75020d64349d",
        "type": "ui_text",
        "z": "21294e9fb0a38dbb",
        "group": "26f319519ee3c2a8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO ppm alarm start threshold:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 920,
        "wires": []
    },
    {
        "id": "ae4233b5969e5fd4",
        "type": "mqtt out",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/fan/tempthreshold",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b6f2a1fc3b64822",
        "x": 1630,
        "y": 700,
        "wires": []
    },
    {
        "id": "5cb41db57f06dcb5",
        "type": "mqtt out",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/fan/humthreshold",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b6f2a1fc3b64822",
        "x": 1640,
        "y": 780,
        "wires": []
    },
    {
        "id": "b1c36bdc21121e90",
        "type": "mqtt out",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/alarm/smokethreshold",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b6f2a1fc3b64822",
        "x": 1660,
        "y": 860,
        "wires": []
    },
    {
        "id": "d872a7a942fbc9e2",
        "type": "mqtt out",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/alarm/cothreshold",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b6f2a1fc3b64822",
        "x": 1640,
        "y": 960,
        "wires": []
    },
    {
        "id": "6572d9b22a1fd8c4",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/settings/tempthreshold",
        "qos": "0",
        "datatype": "utf8",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1000,
        "y": 660,
        "wires": [
            [
                "f8ee7f90bddcb4bc"
            ]
        ]
    },
    {
        "id": "c3b6d2c16c6df4b9",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/settings/humthreshold",
        "qos": "0",
        "datatype": "utf8",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "1785d4e53de4ac36"
            ]
        ]
    },
    {
        "id": "ecb4af730dfa0b3c",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/settings/smokethreshold",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1000,
        "y": 820,
        "wires": [
            [
                "e7ecfd003318bbe8"
            ]
        ]
    },
    {
        "id": "1aef2804fbc58fee",
        "type": "mqtt in",
        "z": "21294e9fb0a38dbb",
        "name": "",
        "topic": "projekt_iiot/settings/cothreshold",
        "qos": "0",
        "datatype": "utf8",
        "broker": "9b6f2a1fc3b64822",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 920,
        "wires": [
            [
                "934b75020d64349d"
            ]
        ]
    },
    {
        "id": "9b6f2a1fc3b64822",
        "type": "mqtt-broker",
        "name": "",
        "broker": "servermqtt.my.to",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "95f04cddc817cb90",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "098d9b1edf87c75d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "037b8bb9d34f652c",
        "type": "ui_group",
        "name": "Smoke and co",
        "tab": "098d9b1edf87c75d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "681e99cb1914be38",
        "type": "ui_group",
        "name": "Fans and Alarm",
        "tab": "098d9b1edf87c75d",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26f319519ee3c2a8",
        "type": "ui_group",
        "name": "Thresholds",
        "tab": "098d9b1edf87c75d",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "098d9b1edf87c75d",
        "type": "ui_tab",
        "name": "Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]